# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
build/
dist/
*.egg-info/
.env/
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Video stream temporary files (if any)
*.mp4
*.avi
*.mov
